* {
  font-size: 100%;
  font-family: 'ubuntu';
  margin: 0;
  padding: 0;
}
body {
  background: url('/img/matrix-2953869_1920.jpg') fixed no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.navbar {
  box-shadow: 0px 1px 30px rgb(255, 255, 255);
}

.navbar .navbar-brand {
  font-size: 2em;
  color: rgb(252, 252, 252);
}
.navbar .navbar-brand:hover{
  color: mediumseagreen;
}

.navbar .collapse .nav-item {
  font-size: 1.5em;
}

a.nav-color{
  margin-right: 1em;
    text-decoration: none;
  color: mediumseagreen;
}

.nav-color:hover {
  color: #f1f1f1;
}

.container-fluid{
  padding: 0;
  margin:0;
}

.row{
  margin:0;
  padding:0;
}

.icon {
  font-size: 5em;
  color: white;
}
.icon:hover{
  color: mediumseagreen;
}

.contact p{
  font-size: 20px;
  color: white;
}
.contact i{
  margin:1%;
  color: white;

}
.identite{
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(245, 245, 220, 0.795);
  border-radius: 0 10px 80px 0;
  
  margin-top: 5%;
  margin-bottom: 5%;
}

.identite p:first-child, .identite p:last-child{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgb(33, 37, 41);
  font-size: 2em;
  margin-left: 10%;
  
}
.identite p:nth-child(2){
  font-family: roboto, sans-serif;
  color: #198754;
  font-size: 3em;
}

.title_mes_outils{
  color: aliceblue;
  padding-bottom:4%;
}
.title_mes_progres,.title_mes_projets{
  padding-bottom: 4%;
}
.title_mes_projets{
  color: aliceblue;
}

/*------------footer----------------------*/
